@{
    this.ViewBag.HeaderWithoutIcons = true;
}
<div class="middle">
    <div class="container">
        <div class="aboutPage">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="aboutText">
                        <h2>Our Mission</h2>
                        <p>
                            Our Mission is to give you the most amazing handpicked luxury holidays at equally amazing prices up-to 70% OFF be it a Weekend Getaway to Goa or a family escape to Europe we've got you covered.<br />
                            How do we do it? Well, the answer is pretty simple our travel specialists are incredibly good at negotiating the most amazing limited time only Holiday deals from hotels all around the world because even the best hotels don't like empty rooms!
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="aboutText">
                        <h2>About Us!</h2>
                        <p>Luxury Travels deals is a part of the HI Tours Group offering amazing travel services to clients all over the world since the last 20 years. With our amazing team of travel specialists spread over 4 offices we eat, breathe and live travel so you can have the best travel experience possible.</p>
                    </div>
                </div>

                <div class="col-md-12 ">
                    <div class="aboutText col-md-offset-1">
                        <iframe class="col-md-10" height="500" src="https://www.youtube.com/embed/rDbD4RLIp2k?rel=0&amp;controls=1&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        @*<object class="col-md-10" height="500" data="https://www.youtube.com/v/rDbD4RLIp2k"></object>*@
                    </div>
                </div>
            </div>

            <div class="timeline">
                <div class="TopDays">Our Timeline</div>
                <div class="bottomDays">Our Timeline</div>

                <div class="container1 left">
                    <div class="imgRight"><img src="/images/timeline-4.png" /></div>
                    <div class="content">

                        <div class="topDateTime">
                            <span class="datedefine">1</span>
                            <div class="daydefine">
                                <h5>Monday</h5>
                                <span>January 2018</span>
                            </div>

                        </div>
                        <p class="textTimeline"> New Name with the same old trust ! Luxury Travel Deals rebrands is B2C Vertical for India focusing on Selling Handpicked Luxury offers to Travelers <br /><br /><br /></p>
                    </div>
                </div>

                <div class="container1 right">
                    <div class="imgLeft"><img src="/images/timeline-3.png" /></div>
                    <div class="content">

                        <div class="topDateTime">
                            <span class="datedefine">13</span>
                            <div class="daydefine">
                                <h5>Tuesday</h5>
                                <span>October 2015</span>
                            </div>

                        </div>
                        <p class="textTimeline">HI Tours crosses the two million thresholds for no of no travelers serviced.<br /><br /><br /></p>
                    </div>
                </div>

                <div class="container1 left">
                    <div class="imgRight"><img src="/images/timeline-2.png" /></div>
                    <div class="content">

                        <div class="topDateTime">
                            <span class="datedefine">10</span>
                            <div class="daydefine">
                                <h5>Tuesday</h5>
                                <span>January 2006</span>
                            </div>

                        </div>
                        <p class="textTimeline">HI Tours launches domestic & global holiday deals to all over the world for Indian Travel Audience.<br /><br /><br /></p>
                    </div>
                </div>

                <div class="container1 right">
                    <div class="imgLeft"><img src="/images/timeline-1.png" /></div>
                    <div class="content">

                        <div class="topDateTime">
                            <span class="datedefine">13</span>
                            <div class="daydefine">
                                <h5>Friday</h5>
                                <span>October 2000</span>
                            </div>

                        </div>
                        <p class="textTimeline">HI Tours is established as global travel services provider providing tours and services to a global audience planning to visit India.<br /><br /></p>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-10 col-md-offset-1 hide">
                    <div class="aboutText">
                        <h2>Our Team</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable<br /> content of a page when looking at its layout.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <div class="TeaM">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Eli Sapir</h3>
                                <p>CO-FOUNDER & CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="aboutText">
                        <h2>Testimonial's</h2>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="Testimonial">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Dubai</h3>
                                <p>
                                    We reached back early this morning from our package tour of Dubai.
                                    My families thoroughly enjoyed this short break and join me in thanking you for your assistance and very prompt responses to all my queries. The tour itself organised by North Tours Dubai was enjoyable and was very well organised. Hotel accommodation at Golden Sands was of top quality.
                                    Once again, thanks for your efforts and help.<br /><br />
                                    Best Regards,<br />
                                    <strong>
                                        Achyuth Kumar
                                        Bangalore, Karnataka
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="Testimonial">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Singapore</h3>
                                <p>
                                    Thank you for the amazing service to us for our Singapore trip in the last month. We really enjoyed this trip. Thank you very much. It was all very well organized.

                                    Thanks again and we will prefer to choose LTD for our next travel plan as this was the 4th holiday with your company.
                                    <br /><br />
                                    Best Regards,<br />
                                    <strong>
                                        Mahipal S Rathore
                                        Udaipur, Rajasthan
                                    </strong>
                                </p>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="Testimonial">
                                <img src="/images/team.png" alt="" title="" />
                                <h3>Maldives</h3>
                                <p>
                                    Very well assisted. Hotels recommended were very good.
                                    Will surely get back for the next plan..<br /><br />
                                    Regards,<br />
                                    <strong>Kabir Narula, New Delhi</strong>
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="aboutText">
                        <h2>Our Office Head Quarters</h2>
                    </div>

                    <div class="map">
                        <div class="row">
                            <div class="col-md-4">
                                <address>
                                    <h3>Luxury Travel Deals Private Limited</h3>
                                    <p><i class="fa fa-map-marker"></i> 321-329 III Floor,<br /> Vipul Agora, M.G. Road,<br /> Sector - 28, Chakkarpur, <br /> Gurugram, <br />Haryana 122001</p>
                                </address>
                            </div>

                            <div class="col-md-8">
                                <div style=" background:#CCC; line-height:0;">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14028.020274711978!2d77.085563!3d28.479394!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x48beddd3bb2a5280!2sHi+Tours+Private+Limited!5e0!3m2!1sen!2sin!4v1517918180369" width="100%" height="400" frameborder="0" style="border:0; line-height:0;" allowfullscreen></iframe>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

