@{
    ViewData["Title"] = "Careers";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}


<link href="~/Styles/Career.css" rel="stylesheet" />
<link href="~/Styles/AboutUsPage.css" rel="stylesheet" />
<link href="~/Styles/product.css" rel="stylesheet" />


@*----------Career_header-mobile-view---------*@
<div class="hidden-sm hidden-md hidden-lg col-xs-12 career-header-xs">
    <span class="left-arrow" onclick="window.history.back();"><img src="~/images/left_arrow.svg" alt="left-arrow" /></span>
    <span class="title-container">
        <span class="booking-title">Career Page</span>
        <span class="share-icon-xs"><img src="~/images/Share_Icon.svg" alt="share_icon" /></span>
    </span>
</div>



@*----------Career_banner---------*@
<div class="row">
    <div class="career-banner col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div class="career-banner-container">
            <img src="~/images/career_banner.png" alt="career_banner">
            <div class="banner-caption-container">
                <div class="section_container">
                    <div class="banner-caption">Spread happiness through luxury travel worldwide</div>
                    <div class="opening-text">10 New Opening (HQ,Gurugram)</div>
                    <div class="explore-btn">
                        <button type="button">Explore Roles</button>
                    </div>
                </div>

            </div>


        </div>
        <div class="banner-caption-bottom section_container">
            <b>Luxury Travel Deals</b> is a global travel technology platform that helps travellers customise ultimate luxury travel experiences, at delightful prices, to create happy holidays.
        </div>

    </div>
</div>

@*----------Our_Values---------*@
<div class="value-container-bg section_desktop hidden-xs" data-nav-target=".value-nav">
    <div class="value-container section_container">
        <div class="headings">Values</div>
        <div class=" col-lg-12 col-md-12 col-xs-12 no-padding-left-right">
            <div class="col-lg-3 col-md-3 col-xs-12 no-padding-left-right">
                <div class="block">
                    <span class="caps">C</span><span class="block-title">ustomer Oriented</span>
                    <div class="block-content">
                        <p>We believe that customers are our guiding light and permeate everything we do right from building an intelligent online sollution that helps travellers choose the perfect trip or bringing in the hotels or tours.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-12 col-md-12 col-xs-12 center-img no-padding-left-right">
                    <img class="value-img" src="~/images/AboutUs-ImgValues.png" alt="AboutUs-ImgValues">
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 padding-left-0">
                    <span class="caps">A</span><span class="block-title">uthentic</span>
                    <div class="block-content">
                        <p>We believe in creating authentic experiences for every traveller, be it in our platform that spreads happiness to our customers by its ease of use or importantly the holidays themselves creating amazing once-in-a-lifetime memories from a romantic beach escape in Maldives to a family vacation in Egypt.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 no-padding-left-right">
                    <span class="caps">R</span><span class="block-title">espect</span>
                    <div class="block-content">
                        <p>This is rooted in our philosophy towards our customers, partners and teams. We are committed to treat each other in a warm and sincere manner believing travel is empowered by compassion and service.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12 no-padding-left-right">
                <div class="block">
                    <span class="caps">E</span><span class="block-title">njoyment</span>
                    <div class="block-content">
                        <p>We are committed to provide our community with enjoyable and happy luxury experiences at each touchpoint. This gives us meaning and a higher purpose to spread happiness through travel worldwide.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="value-container-bg hidden-sm hidden-md hidden-lg">
    <div class="value-container section_container">
        <div class="headings">Values</div>


        <div class="col-xs-12 center-img value-section">
            <img class="value-img" src="~/images/AboutUs-ImgValues.png" alt="AboutUs-ImgValues">
        </div>

        <div class="col-xs-12 value-section">
            <div class="block">
                <span class="block-title">Customer Oriented</span>
                <div class="block-content">
                    <p>We believe that customers are our guiding light and permeate everything we do right from building an intelligent online sollution that helps travellers choose the perfect trip or bringing in the hotels or tours.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 value-section">
            <span class="block-title">Authentic</span>
            <div class="block-content">
                <p>We believe in creating authentic experiences for every traveller, be it in our platform that spreads happiness to our customers by its ease of use or importantly the holidays themselves creating amazing once-in-a-lifetime memories from a romantic beach escape in Maldives to a family vacation in Egypt.</p>
            </div>
        </div>

        <div class="col-xs-12 value-section">
            <span class="block-title">Respect</span>
            <div class="block-content">
                <p>This is rooted in our philosophy towards our customers, partners and teams. We are committed to treat each other in a warm and sincere manner believing travel is empowered by compassion and service.</p>
            </div>
        </div>

        <div class="col-xs-12 value-section">
            <div class="block">
                <span class="block-title">Enjoyment</span>
                <div class="block-content">
                    <p>We are committed to provide our community with enjoyable and happy luxury experiences at each touchpoint. This gives us meaning and a higher purpose to spread happiness through travel worldwide.</p>
                </div>
            </div>
        </div>

    </div>
</div>

@*----------Career-gallery-images---------*@


<div class="career-gallery-heading">
    <span class="career-gallery-text">Tour our HQ</span>
</div>

<section class="product_banner hidden-xs">
    <div class="row height-100">
        <div class="col-md-6 col-sm-6 col-lg-6 height-100">
            <div class="image-4x4">
                <a href="javascript:;">
                    <img src="~/images/career-banner2.png" alt="career-banner"/>
                </a>

            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-lg-6 height-100">
            <div class="col-md-6 col-sm-6 col-lg-6 height-100">
                <div class="image-2x2 padding-right-5 height_100">
                    <a href="javascript:;">
                        <img src="~/images/career-banner3.png" alt="career-banner"/>
                    </a>
                </div>
                @*<div class="image-2x2 padding-right-5">
                        <a href="javascript:;">
                            <img src="~/images/career-banner1.png" />
                        </a>
                    </div>*@
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 height-100">
                <div class="image-2x2 padding-bottom-5">
                    <a href="javascript:;">
                        <img src="~/images/career-banner1.png" alt="career-banner" />
                    </a>

                </div>
                <a href="javascript:;">
                    @*<img src="~/DealImages/@(Model.MoreImage != null ? Model.MoreImage : Model.BannerImg2x2_1)" />*@
                    <div class="image-2x2">
                        <div class="open-gallery-container">
                            <span>MORE PHOTOS</span>
                            <div>
                                <button>OPEN PHOTO GALLERY</button>
                            </div>
                        </div>
                        <div class="dark-overlay">
                            <img src="~/images/career-banner4.png" alt="career-banner" />
                        </div>
                    </div>

                </a>

            </div>
        </div>
    </div>
</section>


@*---------------Career_banner_mobile_view-------*@

<section class="product_banner product_mobile_banner hidden-sm hidden-md hidden-lg col-xs-12">

    <a href="#">

        <div class="product_main_image col-xs-12">
            <img src="~/images/career-banner2.png" class="img-responsive" alt="career-banner"/>
        </div>

    </a>
    <div class="col-xs-12 no-padding-left-right">
        <div class="col-xs-4 product_sub_image no-padding-left-right">
            <a href="javascript:;">
                <img src="~/images/career-banner3.png" class="img-responsive" alt="career-banner"/>
            </a>

        </div>

        <div class="col-xs-4 product_sub_image padding-left-right-5">
            <a href="javascript:;">
                <img src="~/images/career-banner1.png" class="img-responsive" alt="career-banner" />
            </a>

        </div>

        <div class="col-xs-4 product_sub_image no-padding-left-right">


            <a href="javascript:;">
                <div class="open-mobile-gallery-container" style="bottom:24px;font-size:12px;line-height:15px;text-transform:uppercase;">
                    <span><span style="font-size:20px;"> + </span><br>8 More</span>
                    @*<div>
                            <button>OPEN PHOTO GALLERY</button>
                        </div>*@
                </div>
                <div class="dark-overlay">
                    <img src="~/images/career-banner4.png" class="img-responsive" alt="career-banner"/>
                </div>
            </a>
        </div>
    </div>
</section>



@*----------Opportunity---------*@

<section class="opportunity-container">
    <div class="opportunity-heading">
        <span class="opportunity-text">Opportunity</span>
    </div>
    <div class="opportunity-content-container section_container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 opportunity-content">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 designation">
                    <div class="row desg-heading-container">
                        <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 department">
                            <div class="desg-heading">Department</div>

                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 dept-location">
                            <div class="desg-heading">location</div>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 dept-sign">

                        </div>
                    </div>

                    <div class="row desg-list-container">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Technology (<span>2</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Finance (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Marketing (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Sales (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Product Management (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Operations (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Media (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Partnership (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 desg-list">
                            <div class="col-sm-7 col-md-7 col-lg-7 col-xs-7 dept-title">Senior Appointments (<span>0</span>)</div>
                            <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3 loc-title">Gurugram</div>
                            <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2 sign-title">+</div>
                        </div>
                    </div>


                </div>

                <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12 opportunity-images">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 opportunity-images-content">
                        <img src="~/images/opportunity_image1.png" alt="opportunity_image" />
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 opportunity-image-text">
                            <div class="title1">Working Area</div>
                            <div class="title2"> we create new ideas at this place thar have potential to change the world I believe.</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 opportunity-images-content">
                        <img src="~/images/opportunity_image2.png" alt="opportunity_image" />
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 opportunity-image-text">
                            <div class="title1">Cafeteria</div>
                            <div class="title2">  Be it the Aurora Borealis or the breathtaking ice caps of the South Pole, we’ve got you covered.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@this.Html.Partial("_Footer_navigation")

