
@{
    this.ViewBag.HeaderWithoutIcons = true;
}

<div class="middle">
    <div class="gray_bg">
        <div class="container">
            <div class="refund-police-box term-conditions">

                <h1 class="refnd-box-text">General Information</h1>
                <p>Luxury Travel Deals, in return for full payment by you of the amount specified, shall arrange for the transportation, accommodations, and other services specified in the final programme and as included in this brochure as and to the extent you have selected them, but subject to the following terms and conditions:</p>

            </div>
            <div class="panel-group refund-police-box term-conditions" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse"  data-parent="#accordion" href="#collapseOne">
                                TERMS & CONDITIONS
                                <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <h2>Other Terms & Conditions</h2>
                            <h3>ALTERATIONS IN THE TOUR BY THE COMPANY</h3>
                            <p>All services would be rendered as per the confirmations at the time of bookings; however, occasionally non major changes may be made to your travel arrangements. These changes may be the result reasons beyond our control such as, delays or cancellations of flights, weather conditions, over bookings, closer of a hotel, strikes, riots, etc. Luxury Travel Deals therefore, reserve the right to alter, amend, change or modify the Tour Package, Itineraries, Tour Schedule, the Travel Plan and sightseeing wherever necessary.</p>
                            <h3>THIRD PARTY SERVICES</h3>
                            <p>Luxury Travel Deals does not own or operate any of the accommodation or transport or other facilities used in connection with the tours. We therefore are not liable for the conduct, actions or negligence of those parties or their staff, employees or agents. Similarly, we do not take responsibility for any act of a co-traveler/ travelers.</p>
                            <h3>SERVICES REFFERED IN THE WEB SITE AND SERVICE VOUCHERS</h3>
                            <p>The prices quoted in the website are the prevailing rates of that particular time which are subject to change in case of currency fluctuations, fuel costs, special or high season charge, hike in the tax, hike of airline or rail charges before the date of departure. All such increases in price must be paid to the company in full before the departure of the tour.</p>
                            <p>All services referred in the Invoices and Service Vouchers after the final payment would be on confirmed basis, which at the time of travel must be presented by the Client to the Tour Manager or Service Provider on the first day of the tour. Services shall not be provided if the Service Voucher in original is not produced. For some countries the Client would be handed over internal flight / train tickets, hotel and other vouchers by the Tour Manager / company representative on arrival at the holiday destination.</p>
                            <p>It is entirely the responsibility of the client to check the Service Vouchers, Tickets, Visas, and Insurance Policies before the departure and to let the Company know immediately in the event of any error.</p>
                            <h3>CANCELLATION OF THE TOUR BY THE COMPANY</h3>
                            <p>If Luxury Travel Deals cancels any particular tour, the tour amount would be refunded to the client after deducting the expenses incurred on visa, insurance premium, POE charges, and other overheads, which would all be paid in Indian rupees.</p>

                            <h3>TRAVEL DOCUMENTS</h3>

                            <p>It is entirely the responsibility of the client to arrange, provide and carry travel documents including Passport, which is valid for a period of at least six months from the date of travel on the tour with necessary Visas, confirmed air tickets, documents confirming insurance to cover risk to life, limb and property for the duration of the tour, medical clearances etc</p>
                            <h3>VISAS</h3>
                            <p>It is convenient and safe to have the Visa applications for the concerned country been done through the Company. However, for certain visas like for USA and UK, the client will have to go in person for the interview. Luxury Travel Deals however is not responsible for any non-granting, loss, delay or denial of visa by any Consulate.</p>

                            <p>The cost of processing visas is extra and not included in your Tour Price, unless mentioned. The visa fee charged would include the actual visa charge, cost of processing fees and the professional charges of the Company. Even if visas are rejected, the charged fee would be non refundable even if one is not able to travel due to any reasons. In such cases, the non-refundable deposit paid by you shall be forfeited and no claim whatsoever shall be made for the same.</p>
                            <h3>INSURANCE</h3>
                            <p>The cost of insurance is not included in the tour, however, it is mandatory that you purchase an Overseas Medical and other Insurance Policies to cover the risk to life, limb and property for the duration of the trip.</p>
                            <p>In case, you need a travel insurance policy from Luxury Travel Deals the policy would for the duration of your trip and relate to persons below the age of 60 years. It would however be the client's responsibility to check the accuracy and correctness of the policy. Therefore, in case of any errors report the same to the Insurance Company and get the same rectified as the company would not be responsible for the same.</p>
                            <h3>FOREIGN EXCHANGE</h3>
                            <p>Under the present guidelines of the Reserve Bank of India, all residents holding Indian passports are entitled to avail an amount not exceeding USD 10,000 or its equivalent per person in one calendar year for one or more private / leisure visits under the Basic Travel Quota. All individual travelers holding an Indian Passport are entitled to avail an amount of USD 25,000 or its equivalent per visit while traveling on business. In both the above cases the traveler cannot avail in excess of USD 2,000 or its equivalent by way of cash.</p>
                            <p>We at, Luxury Travel Deals, can provide you with currency, travelers cheques or Travel Currency Card.</p>
                            <h3>AIRLINES CONFERMATIONS</h3>
                            <p>Though the ticket issued to the Client for a particular sector may have confirmed status, due to overbooking of seats the airline may offload any passengers and accommodate him on a subsequent flight for which the company will not be responsible.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                Cancellation Policy<i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>All services such as Airlines seats/Hotel accommodation/ground transportation for group tours are pre-blocked well in advance. We are liable to pay penalties to all our suppliers/vendors if these services are released within the time frame given below.</p>
                            <p>If circumstances make you cancel the Tour, the cancellation must be intimated to us in writing. Such cancellation will attract the following Cancellation Charges- the higher of the amounts mentioned in the Table below or the actual amount paid until the date of cancellation. The followings are the cancellation charges will be levied over and above of the initial non refundable booking deposit. Airlines tickets, once issued, may be fully non refundable. The client agrees to reimburse the company fully for costs if full or part of the ticket remains unused for any reason whatsoever.</p>

                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="fit-box">
                                        <h3>Cancellation Charges per Person FIT</h3>
                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Prior to 30 days or more</th>
                                                    <th>Booking fees</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Between 29 to 24 days of departure</td>
                                                    <td width="200">25% of Holiday Cost</td>
                                                </tr>
                                                <tr>
                                                    <td>Between 24 to 15 days of departure</td>
                                                    <td>50% of Holiday Cost</td>
                                                </tr>
                                                <tr>
                                                    <td>Between 14 to 8 days of departure</td>
                                                    <td>75% of Holiday Cost</td>
                                                </tr>
                                                <tr>
                                                    <td>Prior to 7 days of departure</td>
                                                    <td>100% of Holiday Cost</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="git-box">
                                        <h3>Cancellation Charges per Person GIT</h3>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Prior to 45 days or more</th>
                                                    <th>Booking fees</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Between 44 to 31 days of departure</td>
                                                    <td width="200">25% of Holiday Cost</td>
                                                </tr>
                                                <tr>
                                                    <td>Between 30 to 15 days of departure</td>
                                                    <td>50% of Holiday Cost</td>
                                                </tr>
                                                <tr>
                                                    <td>Between 14 days of departure</td>
                                                    <td>100% of Holiday Cost</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                Refunds  <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Refunds (as per the hotel's or the others vendors policy) would be paid by the Company directly to you in the account by which the payment was made to Luxury Travel Deals. This would take at least 30 to 45 days to process the refund (if due) which would be all be given Indian rupees.</p>
                            <p>If the tour or any part of the tour could not be conducted due to reasons beyond the control of the Company, where in the Company shall not be held responsible for any refund to the Client. However, it may be at the sole discretion of the Company to give refund based on various factors like the number of participants, the cancellation policies of suppliers like hoteliers, coach operators, etc. the decision of the Company on the quantum of refund shall be final. Refunds (if any) would be paid by the Company directly to you which would take at least 45 days to process the refund (if due) which would be all be given Indian rupees.</p>
                            <p>However no refund whatsoever is payable if the Client does not or cannot utilize any of the services like hotels, sightseeing, rides, cruises, meals, entrance fees, optional tours etc due to any reason whatsoever.</p>
                            <h2>Hotels</h2>
                            <p>The tour would include the mentioned or the similar category of rooms. In case a client has a particular requirement, the Company would make all efforts for the same; however, we cannot guarantee for the same.</p>

                            <h2>Meals</h2>
                            <p>Meals would be included, where ever mentioned in the tour; however meal arrangements can be changed as per circumstances with out any prior notice. If a client does not avail the meal included in the tour no refund would be given for that.</p>

                            <h2>Baggage</h2>
                            <p>The Client traveling by air have different baggage restrictions and limitations as per weight, size and number of bags, for different countries, which is currently 23 Kg and one hand bag (cabin luggage) not exceeding 7 kg per person except for flights to USA and Canada, where the passengers are permitted to carry two pieces of checked-in baggage and one hand bag for all economy class passengers. Excess in bag over & above the mentioned weight, size and number of bags would be charged by the airlines directly by the client as per the airlines rules.</p>
                            <p>All baggage's at all times and in all circumstances would be the responsibility of the Client. Luxury Travel Deals would not be responsible for any loss of any personal belongings.</p>

                            <h2>Tipping</h2>
                            <p>Tipping is customary in all parts of the world for services rendered (e.g. porters, coach drivers, guides etc) but are not included in the tour cost, hence paid directly by the clients.</p>

                            <h2>Punctuality</h2>
                            <p>Since all tours & sightseeing's are time bound, it is essential that the schedules and timings mentioned in the itineraries are strictly followed by the Clients so as to ensure that all the services can be duly provided. If the Client misses any service due to his or her unpunctuality, there would be no refund for the same.</p>

                            <h2>Disclaimer</h2>
                            <p>You, and each party traveling along with you in the tour and named in the booking form, expressly acknowledge that you are cognizant of all risks of travel and arrangements for trips of this nature and fully disclaim, waive and discharge, Luxury Travel Deals (including its officers, members, directors and employees) from any and all liability, claims, damages, loss or responsibilities (including damage to or loss of your property or your injury or death) with regard to the proposed tour and arrangements made with respect there to, even if caused by the negligence of any airlines, transportation companies, hotels or any other party rendering any of the services or accommodations included in the tour. Luxury Travel Deals shall similarly not be liable for any claims, losses, damages for delay of baggage or other properties, inconvenience, loss of enjoyment, upset and disappointment, distress or frustrations whether physical or mental, resulting from any act or omission of any other party providing services to you. All services and accommodations are subject to the laws, customs and r regulations of the countries in which these services are rendered.</p>
                            <h2>Anti Spam</h2>
                            <p>Further to new anti-spam legislation, I am reaching out to you on the understanding that we have Implied Consent to contact you. If you have no further interest in receiving our news concerning the developments in our destinations, then please use the unsubscribe link in e-mail at the bottom.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                AVAILABILITY  <i class="indicator glyphicon glyphicon-chevron-up pull-right"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapsefour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                The Company allows its users to make bookings for the Travel Offers and Package Holidays advertised by it. The Company does not guarantee that any Travel Offer or Package Holiday will remain available for any period of time on the Services.
                            </p>
                            <p>
                                All bookings for the Travel Offers and Package Holidays are subject to availability at the time of booking. The Company will inform you as soon as possible after placing a booking if, for any reason, the Tour Operator or Package Holiday you have sought to book through the Services is not available.
                            </p>
                            <h2>CAPACITY</h2>
                            <p>By making a purchase through the Website you warrant that you are over 18 and that you have the legal right and ability to enter into a legally binding agreement with us. No persons under the age of eighteen (18) are permitted to use the Website or to sign up as a member of the website.</p>
                            <h2>PRICE AND INVOICE ERRORS</h2>
                            <p>The Company endeavours to ensure that all prices listed on the Website are accurate and up-to-date. However, due to exchange rate fluctuations or increases in supplier rates, the Company reserves the right, up to and including the date of check-in, to adjust any fees, charges, or prices as necessary, even if the travel products acquired have been paid for in full, to reflect such cost increases passed onto the Company.</p>
                            <p>The Company reserves the right to correct any errors in fees, charges, rates, or prices quoted or billed, even if the travel products acquired have been paid for in full.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




