@model CancellationPolicyViewModel;
@using HtmlHelpers.BeginCollectionItemCore
<tr>
    @using (this.Html.BeginCollectionItem("model"))
    {
        <td>
            <div class="field-col">
                <input class="form-control" asp-for="MinDay" type="number" placeholder="From Days" />
                <span asp-validation-for="MinDay"></span>
            </div>

        </td>
        <td>
            <div class="field-col">
                <input class="form-control" asp-for="MaxDay" type="number" placeholder="To Days" />
                <span asp-validation-for="MaxDay"></span>
            </div>
        </td>
        <td>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IsActive" />
            <input type="hidden" asp-for="UpdatedBy" />
            <input type="hidden" asp-for="UpdatedDate" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="IsDeleted" class="delete_row" />
            <input type="hidden" asp-for="DealType" />
            <div class="field-col">
                <select asp-for="ChargeType" selected="@Model.ChargeType" class="form-control" id="ChargeType" select2-Placeholder="Deduction Type" asp-items="Model.MarginTypeItems"
                        select2-value="@Model.ChargeType"></select>
                <span asp-validation-for="ChargeType"></span>
            </div>
        </td>
        <td>
            <div class="field-col">
                <input class="form-control" asp-for="Charge" placeholder="Deduction Charge" />
                <span asp-validation-for="Charge"></span>
            </div>
        </td>
        <td valign="middle" class="city-delete-row-box">
            <a class="delete-item-row" href="javaScript:void(0)"><i class="fa fa-trash-o"></i></a>
        </td>
    }
</tr>
