<!-- Modal -->
<div class="modal price-summary-modal fade" id="summaryModal" role="dialog" style="background-color: rgba(100,100,100,.75);">
    <div class="modal-dialog summary_modal_dialog">

        <!-- Modal content-->
        <div class="modal-content summary-model-content">
            <div class="summary-model-Header">
                <button type="button" class="close summary-model-close" data-dismiss="modal"><img src="~/images/Close_Icon.svg" alt="close_icon" style="width:24px; height:24px;" /></button>
                <h4 class="summary-modal-title">Price Summary</h4>
                <hr style="height: 4px;border: none; width:75px; background-color: #FCA32B;margin-top:15px;margin-bottom:0px;float:left;">
            </div>

            <div class="summary-modal-body">
                @*<div class="Hotel-Summary col-sm-12 col-md-12 col-xs-12">
                    <h3 class="summary-list-title">Hotel</h3>
                    <div class="Hotel-Summary-Details col-sm-12 col-md-12 col-xs-12">
                        <span class="summary-title"><span class="summary_quantity">08</span>Nights</span>
                        <span class="individual-price">x<span class="individual-price-style"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>28,970</span> per Night<span class="summary-info-icon"><img src="~/images/Info_Icon.svg" style="width:24px;height:24px;"/></span></span>
                        <span class="total-price"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>231,760</span>
                    </div>
                </div>
               
                <div class="Flight-Summary col-sm-12 col-md-12 col-xs-12">
                    <h3 class="summary-list-title">Flight</h3>
                    <div class="Hotel-Summary-Details col-sm-12 col-md-12 col-xs-12">
                        <span class="summary-title"><span class="summary_quantity">04</span>Adults</span>
                        <span class="individual-price" style="margin-left:5px;">x<span class="individual-price-style"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>28,978</span> per Adult</span>
                        <span class="total-price"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>115,912</span>
                    </div>
                    <div class="Hotel-Summary-Details col-sm-12 col-md-12 col-xs-12">
                        <span class="summary-title"><span class="summary_quantity">02</span>Kids</span>
                        <span class="individual-price" style="margin-left:20px;">x<span class="individual-price-style"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>21,864</span> per Kid</span>
                        <span class="total-price"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>43,728</span>
                    </div>
                    <div class="Hotel-Summary-Details col-sm-12 col-md-12 col-xs-12">
                        <span class="summary-title"><span class="summary_quantity">01</span>Infants</span>
                        <span class="individual-price">x<span class="individual-price-style"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>3,781</span> per Infant</span>
                        <span class="total-price"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>3,781</span>
                    </div>
                </div>
                
                <div class="Visa-Summary col-sm-12 col-md-12 col-xs-12">
                    <h3 class="summary-list-title">Visa Handling</h3>
                    <div class="Hotel-Summary-Details col-sm-12 col-md-12 col-xs-12">
                        <span class="summary-title"><span class="summary_quantity">04</span>Passengers</span>
                        <span class="individual-price" style="margin-left:-25px;">x<span class="individual-price-style"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>4,400</span> per Passenger<span class="summary-info-icon"><img src="~/images/Info_Icon.svg" style="width:24px;height:24px;" /></span></span>
                        <span class="total-price"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>17,600</span>
                    </div>
                    <div class="Hotel-Summary-Details col-sm-12 col-md-12 col-xs-12">
                        <span class="summary-title"><span class="summary_quantity">02</span>Passengers</span>
                        <span class="individual-price" style="margin-left:-25px;">x<span class="individual-price-style"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>7,981</span> per Passenger<span class="summary-info-icon"><img src="~/images/Info_Icon.svg" style="width:24px;height:24px;" /></span></span>
                        <span class="total-price"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>15,962</span>
                    </div>
                </div>
                <div class="Total-Summary col-sm-12 col-md-12 col-xs-12">
                    <h3 class="summary-list-title">Subtotal</h3>
                    <div class="total-Summary-Details col-sm-12 col-md-12 col-xs-12">
                        <div class="col-sm-4 col-md-4 col-lg-4" style="padding-left:0px;padding-right:0px;">
                            <span class="subtotal-price"><span> <i class="fa fa-inr" aria-hidden="true"></i></span>428,743</span>
                            <p>Incl. Taxes</p>
                        </div>
                        
                        <div class="col-sm-8 col-md-8 col-lg-8" style="padding-left:0px;padding-right:0px;">
                            <div class="col-sm-5 col-md-5 col-lg-5" style="padding-left:0px;padding-right:0px;">
                                <button type="button" class="hold-btn">Hold For Free</button>
                            </div>

                            <div class="col-sm-7 col-md-7 col-lg-7" style="padding-left:0px;padding-right:0px;">
                                <button type="button" class="checkout-btn">Proceed to Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            
        </div>

        
    </div>
    
</div>