@{
    this.ViewBag.HeaderWithoutIcons = true;
}
@this.Html.Partial("_HelpHeader")

    <div class="middle">
        <div class="my-account-box">
            <div class="my-subscriptions">
                <div class="container">
                    <h4 class="my-subscriptions-heading">MY ACCOUNT</h4>
                    <div class="accordion">
                        <h4 class="accordion-toggle"> <i class="right"></i>Are my details confidential?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>
                                We need to collect information about you to make your booking process as smoothly as possible. This information may include such details as your name, your address and your credit card details. All personal information is stored in secure databases at secure addresses to prevent unauthorised access. By disclosing your personal information to us using this website or over the telephone, you consent to the collection, storage and processing of your personal information by hitours.in as stated in our Privacy Policy. You can amend your personal details by visiting “My Account”.
                            </p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>How do I manage my newsletter subscriptions?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>
                                To change the number and type of Newsletters you receive, simply go to your name on the top right of the page, and click “My Subscriptions” where you can save changes by clicking “Submit”.
                            </p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>How do I update my details?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>You can amend your personal details at any time, simply go to your name on the top right of the page, and click “My Account” where you can save changes by clicking “Submit”.</p>

                            <p>Please note that changes to your personal details will not affect any bookings that have already been made.</p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>Adding travel companions<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>Booking with family or friends? Why not save time with your next booking and create Travel Companion profiles? Simply go to your name on the top right of the page, and click “My Account” where you can add or remove travel companions.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>



