@{
    this.ViewBag.HeaderWithoutIcons = true;
}
@this.Html.Partial("_HelpHeader")
   
    <div class="middle">

        <div class="my-account-box">
            <div class="my-subscriptions">
                <div class="container">
                    <h4 class="my-subscriptions-heading">I WANT TO BOOK</h4>
                    <div class="accordion">
                        <h4 class="accordion-toggle"> <i class="right"></i>How do the sales work?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>
                                Each week you will receive emails with the details of present and upcoming sales. The dates and time for each sale will be included in the message. If any offers are of interest, you can sign up for a reminder directly on hitours.in by clicking the "Send me a reminder" button.
                            </p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>Looking for a particular hotel or just something else?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>
                                If you are looking for a particular offer, destination, departure point or departure date, you can set alerts on “My Wish List”. In this section you can manage your “favourite” deals and create alerts for 1, 3 or 12 months, with a few simple clicks – meaning you will never miss out on what you’re looking for!
                            </p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>How do I book?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>Once you have found your perfect deal, booking is made easy:  </p>

                            <ul>
                                <li>Select whether you would like flights and your departure date.</li>
                                <li>Select different room combinations to suit your group. Check your flight details and add any optional extras such as Car Hire, Transfers or Excursions. </li>
                                <li>Add passenger information and payment details. </li>
                                <li>Await your confirmation email.</li>
                            </ul><div class="clr"></div>

                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>Are my payment details secure?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>	Yes. As soon as you make a booking, you will be viewing secure website pages. Our secure server software encrypts your credit/debit card information so your transactions are private and protected as they travel over the Internet. A secure server means that using a credit/debit card on the internet is safer than giving out your card details over the phone. </p>
                            <p>Any personal details entered including credit/debit card payments will automatically be encrypted using Secure Socket Layer (SSL). A padlock symbol at the bottom of your screen indicates that you are in a secure area, as does the beginning of the page address changing from http:// to https://. Your credit/debit card number is passed through to our payment provider for validation and debit via our booking system. </p>
                            <p>Once you enter your credit/debit number it is encrypted so that nobody else can read it, and is not printed out or displayed on any other computer. Our providers at Bibit will process your credit/debit card payment. </p>
                            <p>If you do have a problem, despite the above security measures, your card issuer and voyage-prive.co.uk will assist you as necessary.</p>
                        </div>
                    </div>

                    <h4 class="my-subscriptions-heading">PAYMENT</h4>
                    <div class="accordion">
                        <h4 class="accordion-toggle"> <i class="right"></i>Can I pay a deposit?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>Deposits are available for most holidays with a value of £1,500 made more than 35 days prior to departure. A deposit of 30% of the total value of the holiday is payable at the time of booking. On occasion, higher deposits may be required and you will be advised of any additional deposits relevant to your holiday at the time of booking. </p>
                            <p><strong>Deposits are non-refundable. </strong></p>

                            <p>The remaining balance of your travel arrangements must be paid at least 30 days before your departure date. You will receive a reminder email about 35 days before your departure advising you how this can be paid. Please also ensure you make your payment in sufficient time otherwise your booking may be cancelled, and you will be liable to pay cancellation charges as shown in our Terms and Conditions (11).</p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>When will my account be debited?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>Once your booking has been received, your account will be debited the same night.</p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>Can I pay by phone?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>Yes. Please email us on sales@demo.com or call our team on +91 (0)1234 567 890 and we will be delighted to assist you with your booking.</p>
                        </div>

                        <h4 class="accordion-toggle"> <i class="right"></i>Can I use vouchers to pay?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>Yes. Gift cards and travel vouchers can be used to cover all or part of the package price. Any exceptions to this will be clearly shown at the time of booking. </p>

                            <p>For more information on how to earn travel vouchers please visit the Earn Credit section, by clicking on your name at the top right and clicking “My Account” then “Earn Credit”.</p>



                        </div>


                        <h4 class="accordion-toggle"> <i class="right"></i>Can I book for a 3rd party?<i class="down"></i></h4>
                        <div class="accordion-content">
                            <p>Yes. Have you thought of a gift card? You can choose the amount and person to whom you want to offer it to. Simply click “Gift Card” at the top of the page for more information.</p>

                            <p>If you decide to book for someone directly, all documents – including invoices, vouchers and e-tickets would be sent to the email address of your member account. You will then have to transfer the documents to the person for whom you are purchasing the stay. Before ordering a flight, make sure you know the name of all participants and their date of birth. The name must match that on the participants’ passports.</p>



                        </div>



                    </div>


                </div>

            </div>
        </div>

    </div>



