<div class="row" style="padding-left:30px; padding-right:30px;">
    <div class="form-group col-md-12">
        <label>Select Rate Plan</label>
        <select class="form-control" id="ddlRatePlanInventory" asp-items="@this.ViewBag.ListRatePlanInventory"></select>
    </div>
</div>
<div id="resultInventory">

</div>