/*@font-face {
    font-family: Abhaya Libre;
    src: url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500');
}*/
/*@font-face {
    font-family: Abhaya Libre Medium;
    src: url(../fonts/AbhayaLibre-Medium.ttf);
}*/
/*@font-face {
    font-family: IBM Plex sans;
    src: url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBM Plex sans Thin;
    src: url(../fonts/IBMPlexSans-Thin.ttf);
}*/
@font-face {
  font-family: Tostada;
  src: url(../fonts/TOSTADA.ttf);
}
/*@font-face {
    font-family: IBM Plex sans;
    src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');
}*/
/*@font-face {
    font-family: Abhaya Libre Bold;
    src: url(../fonts/AbhayaLibre-Bold.ttf);
}

@font-face {
    font-family: Tostada;
    src: url('../fonts/TOSTADA_Italic.ttf');
}*/
/*@font-face {
    font-family: Stardos Stencil;
    src: url('../fonts/StardosStencil-Regular.ttf');
}*/
/*................New_footer_css...............*/
.color-calender-ascent {
  color: #973E94;
}
.calender-container {
  border: 1px solid #E6E6E6;
  margin-top: 10px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 415px;
  min-height: 415px;
  position: relative;
  overflow: hidden;
}
.calender-container .calender-navs {
  width: 100%;
  display: block;
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
  top: 15px;
  left: 0;
}
.calender-container .calender-navs span {
  color: #F4EAF3;
  cursor: pointer;
}
.calender-container .calender-navs span .fa-chevron-left,
.calender-container .calender-navs span .fa-chevron-right {
  color: #973E94;
}
.calender-container .calender-navs .nav-left {
  /*position:absolute;*/
  left: 10px;
}
.calender-container .calender-navs .nav-left .calender-left-icon {
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: 6px;
  margin-bottom: 5px;
}
.calender-container .calender-navs .nav-right {
  /*position:absolute;*/
  float: right;
}
.calender-container .calender-navs .nav-right .calender-right-icon {
  width: 24px;
  height: 24px;
  position: relative;
  margin-left: 9px;
  margin-bottom: 5px;
}
.calender-container .calendar {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 90%;
  margin-top: 15px;
  font-size: 0px;
}
.calender-container .calendar .month-seperator {
  display: inline-block;
  margin: 10px;
  width: 1px;
  height: 280px;
  vertical-align: bottom;
  background: #E6E6E6;
}
.calender-container .calendar .month {
  /*border-right: 1px solid #E6E6E6;*/
  /*padding-left: 10px;
            padding-right: 10px;*/
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  width: 315px;
  height: 100%;
}
.calender-container .calendar .month:after {
  content: "";
  position: absolute;
  right: 0;
  z-index: 50;
  width: 1px;
  height: 50%;
  /* or 100px */
  background: #FAFAFA;
}
.calender-container .calendar .month .month-name-container {
  text-align: center;
}
.calender-container .calendar .month .month-name-container .month-name {
  font-family: 'IBM Plex Sans';
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.calender-container .calendar .month .weekHeader {
  margin-top: 15px;
  font-size: 0px;
}
.calender-container .calendar .month .weekHeader .weekDay {
  font-family: 'IBM Plex Sans';
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.calender-container .calendar .month .week {
  text-align: unset;
  font-size: 0px;
}
.calender-container .calendar .month .week .padDay {
  width: 45px;
  height: 45px;
  display: inline-block;
  height: 0;
  padding-bottom: 1px;
  padding-bottom: 0.1rem;
}
.calender-container .calendar .month .week .calendar-day {
  text-align: center;
  display: inline-block;
  line-height: 45px;
  width: 45px;
  height: 45px;
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.calender-container .calendar .month .week .calendar-day.weekend {
  color: #973E94;
}
.calender-container .calendar .month .week .calendar-day.lowest-price {
  background: rgba(10, 198, 90, 0.2);
  border-radius: 5px;
  color: #0AC65A;
}
.calender-container .calendar .month .week .calendar-day.notAvailable {
  color: #e6e6e6;
  cursor: not-allowed;
}
.calender-container .calendar .month .week .calendar-day.hover-start,
.calender-container .calendar .month .week .calendar-day.selected-start {
  background: #973E94;
  color: white;
  border-radius: 5px 2px 2px 5px;
}
.calender-container .calendar .month .week .calendar-day.hover-end,
.calender-container .calendar .month .week .calendar-day.selected-end {
  background: #973E94;
  color: white;
  border-radius: 2px 5px 5px 2px;
}
.calender-container .calendar .month .week .calendar-day.hover-mid {
  background: rgba(151, 62, 148, 0.1);
  color: #973E94;
}
.calender-container .calendar .month .week .calendar-day.month-start.hover-mid {
  background: -moz-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #973e94));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ie10+ */
  background: linear-gradient(90deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#973e94', GradientType=1);
  /* ie6-9 */
  z-index: -1000;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  margin: 0;
  color: #973E94;
}
.calender-container .calendar .month .week .calendar-day.month-end.hover-mid {
  background: -moz-linear-gradient(180deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(151, 62, 148, 0.1)), color-stop(100%, #ffffff));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #973e94 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ie10+ */
  background: linear-gradient(270deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#973E94', endColorstr='#ffffff', GradientType=1);
  /* ie6-9 */
  color: #973E94;
  /*background-attachment: fixed;*/
  z-index: -1000;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.calender-container .calendar-legends {
  display: block;
  height: 30px;
  width: 100%;
}
.calender-container .calendar-legends .lowest-price-legend-container {
  height: 100%;
  display: table;
  margin-left: 5px;
}
.calender-container .calendar-legends .lowest-price-legend-container .lowest-price-legend-box {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  height: 100%;
  width: 30px;
  background: rgba(10, 198, 90, 0.2);
  border-radius: 5px;
  color: #0AC65A;
}
.calender-container .calendar-legends .lowest-price-legend-container .lowest-price-legend-description {
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
  font-size: 12px;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  color: #969696;
  height: 100%;
}
.calender-mobile-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.calender-mobile-container .calendar {
  height: 100vh;
  background: #fafafa;
  overflow-y: scroll;
  padding-top: 58px;
  margin: 0 auto;
}
.calender-mobile-container .calendar .month {
  display: block;
  width: 315px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-top: 10px;
}
.calender-mobile-container .calendar .month-name-container {
  display: block;
  text-align: center;
}
.calender-mobile-container .calendar .month-name-container .month-name {
  font-family: 'IBM Plex Sans';
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}
.calender-mobile-container .calendar .weekHeader {
  display: block;
  text-align: center;
  font-size: 0;
}
.calender-mobile-container .calendar .weekHeader .weekDay {
  display: inline-block;
  font-family: 'IBM Plex Sans';
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  width: 45px;
  height: 45px;
  line-height: 45px;
}
.calender-mobile-container .calendar .week {
  text-align: unset;
  font-size: 0px;
}
.calender-mobile-container .calendar .week .padDay {
  width: 45px;
  height: 45px;
  display: inline-block;
  height: 0;
  padding-bottom: 1px;
  padding-bottom: 0.1rem;
}
.calender-mobile-container .calendar .week .calendar-day {
  text-align: center;
  display: inline-block;
  line-height: 45px;
  width: 45px;
  height: 45px;
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.calender-mobile-container .calendar .week .calendar-day.weekend {
  color: #973E94;
}
.calender-mobile-container .calendar .week .calendar-day.lowest-price {
  background: rgba(10, 198, 90, 0.2);
  border-radius: 5px;
  color: #0AC65A;
}
.calender-mobile-container .calendar .week .calendar-day.notAvailable {
  color: #e6e6e6;
  cursor: not-allowed;
}
.calender-mobile-container .calendar .week .calendar-day.hover-start,
.calender-mobile-container .calendar .week .calendar-day.selected-start {
  background: #973E94;
  color: white;
  border-radius: 5px 2px 2px 5px;
}
.calender-mobile-container .calendar .week .calendar-day.hover-end,
.calender-mobile-container .calendar .week .calendar-day.selected-end {
  background: #973E94;
  color: white;
  border-radius: 2px 5px 5px 2px;
}
.calender-mobile-container .calendar .week .calendar-day.hover-mid {
  background: rgba(151, 62, 148, 0.1);
  color: #973E94;
}
.calender-mobile-container .calendar .week .calendar-day.month-start.hover-mid {
  background: -moz-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(100%, #973e94));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ie10+ */
  background: linear-gradient(90deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#973e94', GradientType=1);
  /* ie6-9 */
  z-index: -1000;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  margin: 0;
  color: #973E94;
}
.calender-mobile-container .calendar .week .calendar-day.month-end.hover-mid {
  background: -moz-linear-gradient(180deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(151, 62, 148, 0.1)), color-stop(100%, #ffffff));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #973e94 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* ie10+ */
  background: linear-gradient(270deg, #ffffff 0%, rgba(151, 62, 148, 0.1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#973E94', endColorstr='#ffffff', GradientType=1);
  /* ie6-9 */
  color: #973E94;
  /*background-attachment: fixed;*/
  z-index: -1000;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.calender-mobile-container.product-calendar {
  position: relative;
  top: unset;
  left: unset;
}
.calender-mobile-container.product-calendar .sub-header {
  width: 100%;
  padding-left: 10px;
}
.calender-mobile-container.product-calendar .sub-header span {
  font-family: "IBM Plex Sans";
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  color: #969696;
}
.calendar-xs-head {
  display: table;
  padding: 17px 10px 17px 9px;
  font-family: 'IBM Plex Sans';
  font-size: 14px;
  font-weight: 400;
  color: #323232;
  line-height: 24px;
  height: 54px;
  position: fixed;
  top: 0;
  background-color: white;
  text-transform: capitalize;
  z-index: 1;
  box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.15);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(100, 100, 100, 0.15);
}
.calendar-xs-head .back-nav {
  width: 35px;
}
.calendar-xs-head .banner-xs-title-container {
  display: table-cell;
  width: 100%;
  padding-left: 10px;
}
.fd_calendar_container {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 330px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container {
    width: unset;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
}
.fd_calendar_container .fd_calendar_head {
  border: 1px solid #e6e6e6;
  width: 100%;
  height: 50px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.fd_calendar_container .fd_calendar_head .fd_nav_left,
.fd_calendar_container .fd_calendar_head .fd_nav_right {
  display: inline-flex;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calendar_head .fd_nav_left,
  .fd_calendar_container .fd_calendar_head .fd_nav_right {
    height: 45px;
  }
}
.fd_calendar_container .fd_calendar_head .fd_nav_left img,
.fd_calendar_container .fd_calendar_head .fd_nav_right img {
  margin: 0 auto;
}
.fd_calendar_container .fd_calendar_head .fd_head_element {
  display: inline-flex;
}
.fd_calendar_container .fd_calendar_head .fd_head_element .fd_month_select {
  cursor: pointer;
  min-width: 160px;
  width: 160px;
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  font-size: 15px;
  color: #505050;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calendar_head .fd_head_element .fd_month_select {
    min-width: 60px;
    width: 60px;
    font-size: 12px;
    line-height: 15px;
  }
}
.fd_calendar_container .fd_calendar_head .fd_head_element .fd_month_select.active {
  color: #973E94;
  border-bottom: 2px solid #973E94;
}
.fd_calendar_container .fd_calendar_head .fd_months {
  height: 100%;
  width: 685px;
  overflow-x: hidden;
  vertical-align: central;
  margin: auto;
}
.fd_calendar_container .fd_calendar_head .fd_months .fd_month_select {
  line-height: 50px;
}
.fd_calendar_container .fd_calender_month_description_container {
  display: block;
  width: 100%;
  height: 280px;
  min-height: 280px;
  max-height: 280px;
  background: white;
  border-bottom: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container {
    background: unset;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month {
  overflow-y: auto;
  display: none;
  height: 100%;
  /*transition: opacity .2s cubic-bezier(.42, 0, .34, 1.01);
            opacity: 0;*/
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month {
    text-align: center;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day {
  display: table;
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day {
    display: block;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin: 10px auto 0px auto;
    width: 340px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 115px;
    min-height: 115px;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container {
  display: table-cell;
  width: 445px;
  vertical-align: top;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner {
  display: table;
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  width: 100%;
  font-size: 15px;
  color: #505050;
  line-height: 20px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner {
    font-size: 12px;
    line-height: 15px;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner .fd_day_start_date {
  display: table-cell;
  text-align: left;
  width: 170px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner .fd_day_start_date {
    width: auto;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner .fd_date_seperator {
  display: table-cell;
  text-align: center;
  width: 90px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner .fd_date_seperator {
    width: auto;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner .fd_day_end_date {
  display: table-cell;
  text-align: right;
  width: auto;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_top_conatiner .fd_day_end_date {
    width: auto;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_bottom_conatiner {
  margin-top: 5px;
  display: table;
  font-family: 'IBM Plex Sans';
  font-weight: 500;
  width: 100%;
  font-size: 15px;
  color: #969696;
  line-height: 20px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_bottom_conatiner {
    font-size: 12px;
    line-height: 15px;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_bottom_conatiner .fd_date_day_name_start {
  display: table-cell;
  text-align: left;
  width: 50%;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_date_container .fd_date_bottom_conatiner .fd_date_day_name_end {
  display: table-cell;
  text-align: right;
  width: auto;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_seperator_mobile {
  display: none;
  height: 1px;
  background: #e6e6e6;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_seperator_mobile {
    display: block;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container {
  display: table-cell;
  width: auto;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container {
    display: block;
    width: 100%;
    margin-top: 10px;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table {
  display: table;
  width: 100%;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_price {
  width: auto;
  text-align: right;
  display: table-cell;
  padding-right: 30px;
  vertical-align: top;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_price {
    text-align: left;
    padding-right: unset;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_price .fd_day_amount {
  font-family: "IBM Plex Sans";
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #505050;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_price .fd_day_amount.lowest {
  color: #0AC65A;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_price .fd_day_amount_placeholder {
  margin-top: 10px;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: #969696;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_price .fd_day_amount_placeholder {
    margin-top: 5px;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_selection {
  width: 100px;
  text-align: center;
  display: table-cell;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_selection button {
  outline: none;
  cursor: pointer;
  font-family: 'IBM Plex Sans';
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  color: #660666;
  border-color: #660666;
  height: 40px;
  width: 100%;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_selection button.selected {
  border-color: rgba(230, 230, 230, 0.5);
  background: rgba(230, 230, 230, 0.5);
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day .fd_day_price_container .fd_day_price_table .fd_day_selection button:active {
  border-style: outset;
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day_seperator {
  height: 1px;
  background: #e6e6e6;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .fd_calendar_container .fd_calender_month_description_container .fd_calendar_month .fd_calendar_day_seperator {
    display: none;
  }
}
.fd_calendar_container .fd_calender_month_description_container .fd_calendar_month.active {
  /*opacity:1;*/
  display: block;
}