/*@font-face {
    font-family: Abhaya Libre;
    src: url('https://fonts.googleapis.com/css?family=Abhaya+Libre:400,500');
}*/
/*@font-face {
    font-family: Abhaya Libre Medium;
    src: url(../fonts/AbhayaLibre-Medium.ttf);
}*/
/*@font-face {
    font-family: IBM Plex sans;
    src: url(../fonts/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: IBM Plex sans Thin;
    src: url(../fonts/IBMPlexSans-Thin.ttf);
}*/
@font-face {
  font-family: Tostada;
  src: url(../fonts/TOSTADA.ttf);
}
/*@font-face {
    font-family: IBM Plex sans;
    src: url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');
}*/
/*@font-face {
    font-family: Abhaya Libre Bold;
    src: url(../fonts/AbhayaLibre-Bold.ttf);
}

@font-face {
    font-family: Tostada;
    src: url('../fonts/TOSTADA_Italic.ttf');
}*/
/*@font-face {
    font-family: Stardos Stencil;
    src: url('../fonts/StardosStencil-Regular.ttf');
}*/