
/****** Object:  Table [dbo].[RefactorLog]    Script Date: 7/23/2018 3:15:40 PM ******/

CREATE TABLE [dbo].[RefactorLog](
	[ScriptNo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ScriptNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
