
CREATE TABLE [dbo].[HotelPriceDetail](
	[HotelPriceDetailId] [uniqueidentifier] NOT NULL,
	[HotelPriceId] [uniqueidentifier] NULL,
	[MealPlanId] [uniqueidentifier] NULL,
	[BaseMealPlanId] [uniqueidentifier] NULL,
	[IsTaxIncluded] [bit] NULL,
	[IsIncludeGitRate] [bit] NULL,
	[IsIncludeFitRate] [bit] NULL,
	[DRFITSingle] [float] NULL,
	[DRFITDouble] [float] NULL,
	[DRFITExtraBed] [float] NULL,
	[DRFITChildExtraBed] [float] NULL,
	[DRFITChildWithoutExtraBed] [float] NULL,
	[DRGITSingle] [float] NULL,
	[DRGITDouble] [float] NULL,
	[DRGITExtraBed] [float] NULL,
	[DRGITChildExtraBed] [float] NULL,
	[DRGITChildWithoutExtraBed] [float] NULL,
	[PRFITSingle] [float] NULL,
	[PRFITDouble] [float] NULL,
	[PRFITExtraBed] [float] NULL,
	[PRFITChildExtraBed] [float] NULL,
	[PRFITChildWithoutExtraBed] [float] NULL,
	[PRGITSingle] [float] NULL,
	[PRGITDouble] [float] NULL,
	[PRGITExtraBed] [float] NULL,
	[PRGITChildExtraBed] [float] NULL,
	[PRGITChildWithoutExtraBed] [float] NULL,
	[IsTaxOnPublishRate] [bit] NULL,
	[IsLuxaryTaxApplicable] [bit] NULL,
	[LuxaryTax] [float] NULL,
	[IsHotelVATApplicable] [bit] NULL,
	[HotelVAT] [float] NULL,
	[IsHotelServiceTaxApplicable] [bit] NULL,
	[HotelServiceTax] [float] NULL,
	[FITSingle] [float] NULL,
	[FITDouble] [float] NULL,
	[FITExtraBed] [float] NULL,
	[FITChildExtraBed] [float] NULL,
	[FITChildWithoutExtraBed] [float] NULL,
	[GITSingle] [float] NULL,
	[GITDouble] [float] NULL,
	[GITExtraBed] [float] NULL,
	[GITChildExtraBed] [float] NULL,
	[GITChildWithoutExtraBed] [float] NULL,
	[Remark] [nvarchar](2000) NULL,
	[SequenceNumber] [smallint] NULL,
	[ModifiedDate] [datetime] NULL,
	[HotelOtherTax] [float] NULL,
	[IsHotelOtherTaxApplicable] [bit] NULL,
	[IsHotelRateHiked] [bit] NULL,
	[IsHotelPriceApprove] [bit] NULL,
	[IsFITSingleGSTApplicable] [bit] NULL,
	[FITSingleHotelGSTDetailId] [uniqueidentifier] NULL,
	[IsFITDoubleGSTApplicable] [bit] NULL,
	[FITDoubleHotelGSTDetailId] [uniqueidentifier] NULL,
	[IsFITExtraBedGSTApplicable] [bit] NULL,
	[FITExtraBedHotelGSTDetailId] [uniqueidentifier] NULL,
	[IsGITSingleGSTApplicable] [bit] NULL,
	[GITSingleHotelGSTDetailId] [uniqueidentifier] NULL,
	[IsGITDoubleGSTApplicable] [bit] NULL,
	[GITDoubleHotelGSTDetailId] [uniqueidentifier] NULL,
	[IsGITExtraBedGSTApplicable] [bit] NULL,
	[GITExtraBedHotelGSTDetailId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HotelPriceDetail] PRIMARY KEY CLUSTERED 
(
	[HotelPriceDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
