
CREATE TABLE [Package].[StaticPageMaster](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[PageId] [varchar](150) NULL,
 CONSTRAINT [PK_StaticPageMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
