<div class="box-body">
    <div class="table-wrap-div">
        <div class="table-responsive">
            <table class="table table-standard table-bordered table-striped" data-table="grid">
                <thead>
                </thead>
            </table>
        </div>
    </div>
</div>
<div class="modal fade data-filter-modal" tabindex="-1" role="dialog" data-table="dvfilterBox">
    <div class="valign">
        <div>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" data-table="close-filter"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Advance Filter</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div class="dvfilterBody-col" data-table="dvfilterBody">
                        </div>
                        <div class="" align="center" style="border:none;">
                            <button type="button" class="btn btn-primary" data-table="search" title="Search Record"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" data-table="pdfsetting" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="exportPdfModeldiv" style="min-height:150px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="loading">Loading.........</h4>
            </div>
        </div>
    </div>
</div>
<div id="myModal1" class="modal  fade bs-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="myModalContent">

        </div>
    </div>
</div>
<span class="pull-right" data-buttons="filter">
    <a title="Conditional Filters" class="form-control btn-form-control btn-form-control-xm" data-table="togglefilter" style="display:none">
        <i class="fa fa-filter" aria-hidden="true"></i> Filter
    </a>
    <a title="Reset Conditional Filters" class="form-control btn-form-control btn-form-control-xm" data-table="reset" style="display:none">
        <i class="fa fa-bell-slash" aria-hidden="true"></i> Reset
    </a>
</span>
