@{
    var countryCityList = this.ViewBag.CountryCityList;
}

<li class="dropdown mega-dropdown holidaymenu">
    <a href="#" class="dropdown-toggle holiday-icon" data-toggle="dropdown">Destination <span class="caret"></span></a>
    <ul class="dropdown-menu mega-dropdown-menu">
        @foreach (var country in countryCityList)
        {

            <li class="col-sm-3 width20">
                <ul>
                    <li class="dropdown-header">@country.Key</li>
                    @foreach (var city in country.Value)
                    {
                        <li><a href="/holiday/@country.Key/@city.Key">@city.Value</a></li>
                    }

                </ul>
            </li>

        }
         
       
    </ul>
</li>