@model List<TourPackageNightViewModel>
<span data-toggle="tooltip" data-title="User Details">
    <h4>Package Name : @(this.ViewBag.PackageName ?? string.Empty)</h4>
</span>
<table class="table table-standard table-bordered table-striped" data-table="grid">
    <thead>
        <tr>
            <th class="text-center">Nights</th>
            <th class="text-center">Package Price</th>
            <th class="text-center">Package Discount Price</th>
            <th class="text-center">Deposit Amount</th>
            @*<th>Extra Night</th>*@
            @*<th>RateValid From</th>
            <th>RateValid To</th>*@
            <th class="column-action text-center" style="width:10%">Action</th>
        </tr>
    </thead>
    <tbody class="contact-list clsBindResult">
        @if (Model == null || Model.Count == 0)
        {
            <tr class="empty-row">
                <td valign="top" colspan="7" class="dataTables_empty text-center">
                    No data available in table
                </td>
            </tr>

        }
        else
        {

            @Html.Partial("_PackageNighRowForRate", Model)
        }
    </tbody>
</table>
