<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Luxury Travel Deals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        * { margin: 0 auto; }
        .border { border: 1px solid #013d4e; }

        @media only screen and (max-width: 610px) {
            [class=wimg] { width: 100% !important; }
            [class=border] { width: 100% !important; }
            [class=w490] { width: 90% !important; }
        }

        @media only screen and (max-width:479px) {
            [class=wtitre] { width: 100% !important; height: auto !important; }
        }
    </style>
</head>
<body bgcolor="#fff">
    <table align="center" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff">
        <tbody>
            <tr>
                <td>
                    <table class="border" align="center" width="602" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tbody>
                            <!-- Logo -->

                            <tr>
                                <td align="center" bgcolor="#660866">
                                    <a href="#" target="_blank" style="font-size: 22px; font-family: Arial, Verdana; color:#ffffff;">
                                        <img src="##HOSTURL##/images/luxury-logo-2.png" alt="" style="display: block;" width="201" height="100" border="0" />
                                    </a>
                                </td>
                            </tr>
                            <!-- Logo -->
                            <!-- Photo -->
                            <tr>
                                <td>
                                    <a href="#" target="_blank">
                                        <img class="wimg" src="##HOSTURL##/images/visuel10.jpg" alt="" style="display: block;" width="600" height="300" border="0" />
                                    </a>
                                </td>
                            </tr>
                            <!-- Photo -->
                            <!-- Accroche italique -->
                            <tr>
                                <td align="center">
                                    <h2 style="font-size:14px;">Your registration is confirmed</h2>
                                </td>
                            </tr>
                            <!-- Accroche italique -->
                            <!-- Accroche capital -->
                            <tr>
                                <td align="center">
                                    <h3 style="font-size:32px;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    padding: 0;margin: 0;color:#660866;">
                                        Welcome onboard!
                                    </h3>
                                </td>
                            </tr>
                            <!-- Accroche capital -->
                            <!-- Contenu mail -->
                            <tr>
                                <td align="center">
                                    <table class="w490" align="center" width="490" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="padding-top: 20px;padding-bottom: 20px; text-align: justify;" align="justify">
                                                <span style="font-size: 14px; font-family: Arial, Verdana; color:#010101;">
                                                    <div style='font-size:14px'>
                                                        <p>Dear ##User##</p>,
                                                        <p><b>Your Activation Link :</b> <a href=##href##>Please click here to confirm your Email Id</a></p>
                                                        <p>Thanks,</p>
                                                        <p>Luxury Travel Deals</p>
                                                    </div>
                                                </span>
                                            </td>
                                        </tr>

                                        <!--<tr>
                                            <td align="right">
                                                <span style="font-size: 14px; font-family: Arial, Verdana; color:#010101;">RS at HI Tours<br /><br /><br /></span>
                                            </td>
                                        </tr>-->
                                    </table>
                                </td>
                            </tr>
                            <!-- Contenu mail -->

                            <tr>
                                <td align="center">
                                    <table align="center" width="100%" cellspacing="0" cellpadding="0" bgcolor="#680866">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding:30px 0 30px 0;">
                                                    <img src="##HOSTURL##/images/sup_bas.png" alt="Your registration is confirmed" style="display: block;" width="215" height="53" border="0" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding-bottom:30px;">
                                                    <table width="160px">
                                                        <tr>
                                                            <td width="34" height="34">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/facebook.png" alt="Twitter" style="display: block;" width="32" height="32" border="0" />
                                                                </a>
                                                            </td>
                                                            <td width="34" height="34">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/twitter.png" alt="Twitter" style="display: block;" width="32" height="32" border="0" />
                                                                </a>
                                                            </td>
                                                            <td width="34" height="34">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/instagram.png" alt="Twitter" style="display: block;" width="32" height="32" border="0" />
                                                                </a>
                                                            </td>
                                                            <td width="34" height="34">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/gplus.png" alt="Twitter" style="display: block;" width="32" height="32" border="0" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>