<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Luxury Travel Deals</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <style type="text/css">
        * {
            margin: 0 auto;
            padding: 0;
        }

        .border-gray {
            border: 1px solid #f1f1f1;
        }

        @media only screen and (max-width: 610px) {
            [class=wimg] {
                width: 100% !important;
            }

            [class=border-gray] {
                width: 100% !important;
            }

            [class=w490] {
                width: 90% !important;
            }
        }

        @media only screen and (max-width:479px) {
            [class=wtitre] {
                width: 100% !important;
                height: auto !important;
            }
        }
    </style>
</head>
<body bgcolor="#fff">
    <table align="center" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff">
        <tbody>
            <tr>
                <td>
                    <table class="border-gray" align="center" width="602" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
                        <tbody>
                            <!-- Logo -->

                            <tr>
                                <td align="center" bgcolor="#660866">
                                    <a href="#" target="_blank" style="font-size: 22px; font-family: Arial, Verdana; color:#ffffff;">
                                        <img src="##HOSTURL##/images/luxury-logo-2.png" alt="" style="display: block;" width="201" height="100" border="0" />                                        
                                    </a>
                                </td>
                            </tr>
                            <!-- Logo -->
                            <!-- Photo -->
                          

                          
                            <!-- Accroche capital -->
                            <!-- Contenu mail -->
                            <tr>
                                <td align="left" style="padding:0px 30px;" bgcolor="#f1f1f1">
                                    <table width="100%" style="font-size: 14px; font-family: Arial, Verdana;">
                                        <tr>                                          
                                            <td style="font-size:13px; font-family: Arial, Verdana; color:#545454;">
                                                <span style="color:#000; font-size:22px;">Request to call back</span><br />
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                            <tr>
                                <td align="left" style="padding:15px 30px;" bgcolor="#f1f1f1">
                                    <table align="center" width="100%" style="font-size: 14px; font-family: Arial, Verdana;">
                                        <tr>
                                            <td style="padding:3px 0;">Name :</td>
                                            <td style="padding:3px 0;"><b>##Name##</b></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:3px 0;">Phone :</td>
                                            <td style="padding:3px 0;"><b>##Phone##</b></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:3px 0;">Email :</td>
                                            <td style="padding:3px 0;"><b>##Email##</b></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:3px 0;">Best time to call :</td>
                                            <td style="padding:3px 0;"><b>##BestTime##</b></td>
                                        </tr>
                                        <tr>
                                            <td style="padding:3px 0;">Request From :</td>
                                            <td style="padding:3px 0;"><b>##RequestFrom##</b></td>
                                        </tr>
                                        

                                    </table>
                                </td>
                            </tr>
                            <!-- Contenu mail -->

                           


                            <tr>
                                <td align="center">
                                    <table align="center" width="100%" cellspacing="0" cellpadding="0" bgcolor="#fff">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="padding-bottom:30px;">
                                                    <table width="150px">
                                                        <tr>
                                                            <td width="56" height="50">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/facebook.png" alt="Twitter" style="display: block;" width="30" height="30" border="0" />
                                                                </a>
                                                            </td>
                                                            <td width="56" height="50">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/twitter.png" alt="Twitter" style="display: block;" width="30" height="30" border="0" />
                                                                </a>
                                                            </td>
                                                            <td width="56" height="50">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/instagram.png" alt="Twitter" style="display: block;" width="30" height="30" border="0" />
                                                                </a>
                                                            </td>
                                                            <td width="56" height="50">
                                                                <a href="#" target="_blank">
                                                                    <img src="##HOSTURL##/images/gplus.png" alt="Twitter" style="display: block;" width="30" height="30" border="0" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>


