@model Seat
@using HtmlHelpers.BeginCollectionItemCore
<div class="segments-item section-row">
    @using (this.Html.BeginCollectionItem("Seats"))
    {
        <div class="form-group col-sm-2">
            <label asp-for="Code"></label>
            <input type="text" asp-for="Code" class="form-control" />
            <span asp-validation-for="Code"></span>
        </div>
        <div class="form-group col-sm-2">
            <label asp-for="Description"></label>
            <input type="text" asp-for="Description" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
        <div class="form-group col-sm-1">
            <label></label>
            <a class="btn btn-danger btn-xs remove-section-row"><i class="fa fa-trash-o"></i> Remove</a>
        </div>
    }
</div>