@{ 
    Layout = null;
}
@model PackageViewModel
<link asp-append-version="true" href="~/css/bootstrap.min.css" rel="stylesheet" />
@*<link asp-append-version="true" rel="stylesheet" href="~/content/bower/select2/dist/css/select2.min.css">*@
<label asp-for="Name"></label>
<input type="text" asp-for="Name" class="form-control" />
<span asp-validation-for="Name"></span>

<label asp-for="CountryId"></label>
<select asp-for="CountryId" class="form-control"
        select2-Url="/selectlist/Countries"
        select2-Dependent="true" select2-Dependent-Control="#CityId"></select>

<span asp-validation-for="CountryId"></span>
<script asp-append-version="true" src="~/content/bower/jquery/dist/jquery.js"></script>
<script asp-append-version="true" src="~/content/bower/select2/dist/js/select2.js"></script>
<script asp-append-version="true" src="~/content/js/custom/jquery.pluggin.js"></script>
@*<script>$(function () { $.ajaxSetup({ cache: false }); }) </script>*@
