<div class="banner-box">
    <img src="/images/my-information-banner.jpg" alt="gift-card-bg" class="img-responsive img-full-sec" />
    <div class="banner-setting my-information-main-page">
        <div class="container">
            <div class="left-gift my-info-accordion">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 my-info-accodin-box">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">HELP</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <table class="table">
                                                <tr>
                                                    <td>
                                                        <a href="/help/myaccount" class="active">My Account</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="/help/wanttobook">I want to book</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="/help/whatnext">I have booked, what's next?</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <a href="/home/termandcondtion">Terms & conditions</a>

                                                    </td>
                                                </tr>


                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="" data-parent="#accordion" href="#collapseTwo">ABOUT</a>
                                        </h4>
                                    </div>

                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="/home/contactus">CONTACT US</a>
                                        </h4>
                                    </div>

                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="" data-parent="#accordion" href="#collapseFour">PRIVACY</a>
                                        </h4>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>