@{  this.ViewBag.Title = "Region";}
@model PackageRegionViewModel
<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@this.ViewBag.Title</h3>
                <div class="pull-right top-buttons">
                    @if (this.Model != null && this.Model.Id != 0)
                    {
                        @this.Html.ButtonTop(new[] { new Button(Enums.ButtonType.AddNew, "/admin/region/manage") })
                    }
                    @this.Html.ButtonTop(new[] { new Button(Enums.ButtonType.ViewList, "/admin/region") })
                </div>
            </div>
       @Html.Partial("_Region")
        </div>
    </div>

</div>
