<div class="flight-tabing-part-box">
    <div class="tabordion">
        <section id="section1">
            <input type="radio" name="sections" id="option1" checked="">
            <label for="option1">Flight Detail</label>
            <article>
                 

            </article>
        </section>
        <section id="section2">
            <input type="radio" name="sections" id="option2">
            <label for="option2">Credit/Debit Cards</label>
            <article>
                <h3>Paul McCartney</h3>


            </article>
        </section>
        <section id="section3">
            <input type="radio" name="sections" id="option3">
            <label for="option3">Net Banking</label>
            <article>
                <h3>George Harrison</h3>

            </article>
        </section>
        <section id="section4">
            <input type="radio" name="sections" id="option4">
            <label for="option4">Mobile Walllets</label>
            <article>
                <h3>Ringo Starr</h3>
            </article>
        </section>

        <section id="section5">
            <input type="radio" name="sections" id="option5">
            <label for="option5">No Cost EMI</label>
            <article>
                <h3>Ringo Starr</h3>
            </article>
        </section>
        <section id="section6">
            <input type="radio" name="sections" id="option6">
            <label for="option6">PayPal</label>
            <article>
                <h3>Ringo Starr</h3>
            </article>
        </section>

        <section id="section7">
            <input type="radio" name="sections" id="option7">
            <label for="option7">Gift Card</label>
            <article>
                <h3>Ringo Starr</h3>
            </article>
        </section>
        <section id="section8">
            <input type="radio" name="sections" id="option8">
            <label for="option8">Citi bank Rewards</label>
            <article>
                <h3>Ringo Starr</h3>
            </article>
        </section>
    </div>
</div>