@model ApplicationUserChangePasswordViewModel
@{
    this.ViewBag.Title = "Change Password";
}
<div class="row">
    <div class="col-md-12">
        <div class="box no-top-border">
            <div class="box-header with-border">
                <h3 class="box-title">@this.ViewBag.Title</h3>
            </div>
            <div class="login-box" style="margin-top: 10px;">
                <!-- /.login-logo -->
                <div class="login-box-body">

                    <form asp-antiforgery="true" method="post">
                        <div class="form-group has-feedback">

                            <label asp-for="OldPassword"></label>
                            <input type="password" asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword"></span>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>

                        <div class="form-group has-feedback">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword"></span>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword"></span>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                @this.Html.ButtonBottom(new[] { new Button { Text = "Change Password", Type = Enums.ButtonType.Submit } })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>