@model AddInsuranceMasterViewModel;

<form asp-antiforgery="true" id="formPackagePromotionManage" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="IsActive" />
    <input type="hidden" asp-for="UpdatedBy" />
    <input type="hidden" asp-for="UpdatedDate" />
    <input type="hidden" asp-for="CreatedBy" />
    <input type="hidden" asp-for="CreatedDate" />
    <div class="box-body">
        <div class="form-row">

            <div class="form-group col-md-6">
                <label asp-for="VendorId"></label>
                <select asp-for="VendorId" selected="@Model.VendorId" class="form-control" id="VendorId" asp-items="Model.VendorItems"
                        select2-value="@Model.VendorId" select2-Url="/selectlist/GetVendorForInsurance"></select>
                <span asp-validation-for="VendorId"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Days"></label>
                <input asp-for="Days" type="number" class="form-control" />
                <span asp-validation-for="Days"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AdultRate "></label>
                <input asp-for="AdultRate" type="number" class="form-control" />
                <span asp-validation-for="AdultRate"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ChildRate"></label>
                <input asp-for="ChildRate" type="number" class="form-control" />
                <span asp-validation-for="ChildRate"></span>
            </div>
        </div>
    </div>
    @this.Html.ButtonBottom(new[] { new Button(Enums.ButtonType.SaveandReload) })
</form>