@{ 
    this.ViewBag.HeaderWithoutIcons = true;
}

<div class="wrapper gray_bg">
    <div class="container" style="min-height:400px">
       <h3> Your account has been activated.</h3>
    </div>
</div>

