@model LoginViewModel
@{
    this.ViewBag.HeaderWithoutIcons = true;
    this.Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="login_panel">
    <div class="forgot-password-box">
        <form asp-antiforgery="true" class="text-left" method="post" asp-action="forgotpassword">
            <h2>forgotten your password?</h2>
            <p>Please type in email used to sign-up in order to reset yout password.</p>
            <input type="text" asp-for="Email" style="color:#000;" placeholder="email address">
            @Html.ValidationMessageFor(x => x.Email)
            <div class="controls">
                <button class="btn btn-primary">Submit</button>
            </div>
            <span class="link-forgot-password">
                <a href="/user">Not yet a member? Join now</a><br>
                <a href="/user">Already member? Login</a>
            </span>
        </form>
    </div>


</div>

