<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a href="/@Constants.AreaTBO/dashboard">
                    <i class="fa fa-dashboard"></i><span>DashBoard</span>
                </a>
            </li>

            <li>
                <a href="/@Constants.AreaTBO/shared/authenticate">
                    <i class="fa fa-user"></i><span>Authentication</span>
                </a>
            </li>

            <li>
                <a href="/@Constants.AreaTBO/shared/logout">
                    <i class="fa fa-user"></i><span>Logout</span>
                </a>
            </li>

            <li>
                <a href="/@Constants.AreaTBO/shared/getagencybalance">
                    <i class="fa fa-user"></i><span>Agency Balance</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/search">
                    <i class="fa fa-user"></i><span>Search</span>
                </a>
            </li>

            <li class="">
                <a href="/@Constants.AreaTBO/airservice/pricerbd">
                    <i class="fa fa-user"></i><span>Advance Search (Price RBD)</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/calendarfare">
                    <i class="fa fa-user"></i><span>Calendar Fare</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/updatecalendarfare">
                    <i class="fa fa-user"></i><span>Update Calendar Fare</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/farerule">
                    <i class="fa fa-user"></i><span>FareRule</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/farequote">
                    <i class="fa fa-user"></i><span>Fare Quote</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/TicketNonLCC">
                    <i class="fa fa-user"></i><span>TicketNonLCC</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/TicketLCC">
                    <i class="fa fa-user"></i><span>TicketLCC</span>
                </a>
            </li>
            <li>
                <a href="/@Constants.AreaTBO/airservice/Ssr">
                    <i class="fa fa-user"></i><span>SSR</span>
                </a>
            </li>

            <li>
                <a href="/@Constants.AreaTBO/airservice/Book">
                    <i class="fa fa-user"></i><span>Book</span>
                </a>
            </li>

            <li>
                <a href="/@Constants.AreaTBO/airservice/BookDetails">
                    <i class="fa fa-user"></i><span>Book Details</span>
                </a>
            </li>
            <li class="treeview">
                <a href="javascript:;">
                    <i class="fa fa-user-circle-o"></i>
                    <span>Cancel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="/@Constants.AreaTBO/airservice/CancelPnr">
                            <i class="fa fa-user"></i><span>Cancel PNR </span>
                        </a>
                    </li>

                    <li>
                        <a href="/@Constants.AreaTBO/airservice/SendChange">
                            <i class="fa fa-user"></i><span>SendChange</span>
                        </a>
                    </li>

                    <li>
                        <a href="/@Constants.AreaTBO/airservice/ChangeRequestStatus">
                            <i class="fa fa-user"></i><span>Change Request Status</span>
                        </a>
                    </li>
                </ul>
            </li>
           
        
        </ul>
    </section>
</aside>