@{
    this.ViewBag.HeaderWithoutIcons = true;
}
<div class="clr"></div>
<div class="banner">
    <div class="news-entry1">
        <img src="/images/blog/blog-destination-banner.jpg">
        <div class="our-story1 destination-blog-banner-text">
            <h1><img src="/images/blog/blog-destination-banner-text.png" alt="" /></h1>
        </div>
    </div>
</div>
<div class="middle">
    <div class="blog-section-hi-tour-bg">
        <section class="blog-destination-div-india">
            <h2 class="discover-sir-lank-heading">Discovering Sri Lanka</h2>
            <div class="destinatioin-blog-left">
                <div class="sirlk-left-box">
                    <img src="/images/blog/blog-sirlankha-left-img.jpg" alt="" />
                    <h2>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet</h2>
                    <p>It is a long established fact that a reader </p>
                </div>
            </div>

            <div class="destinatioin-blog-right">
                <ul>
                    <li>
                        <div class="blog-dest1">
                            <img src="/images/blog/discover-sirlank1.jpg" alt="" />
                            <div class="destinatioin-img-box">
                                <h2>Neque porro</h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="blog-dest1">
                            <img src="/images/blog/discover-sirlank3.jpg" alt="" />
                            <div class="destinatioin-img-box">
                                <h2>Neque porro</h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="blog-dest1">
                            <img src="/images/blog/discover-sirlank2.jpg" alt="" />
                            <div class="destinatioin-img-box">
                                <h2>Neque porro</h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </li>
                </ul><div class="clr"></div>

            </div>
            <div class="clr"></div>
        </section>

        <section>
            <div class="emotion-sri-lanka-video">
                <h2>A Kaleidoscope of emotions - Sri Lanka</h2>
                <img src="/images/blog/video-emotion-img.jpg" alt="" />

            </div>
        </section>


        <section class="edit-pic-main-section">
            <div class="edit-pic-box">
                <h2>Spellbinding Experiences in Sri lanka</h2>
                <ul class="edit-box-list spell-exper-ul">
                    <li>
                        <div class="editor-box1">
                            <img src="/images/blog/blog-dest-expre1.jpg" alt="" />
                            <p>It is a long established fact that a reader will be distracted</p>
                        </div>
                    </li>
                    <li>
                        <div class="editor-box1">
                            <img src="/images/blog/blog-dest-expre2.jpg" alt="" />
                            <p>It is a long established fact that a reader will be distracted</p>
                        </div>
                    </li>
                    <li>
                        <div class="editor-box1">
                            <img src="/images/blog/blog-dest-expre3.jpg" alt="" />
                            <p>It is a long established fact that a reader will be distracted</p>
                        </div>
                    </li>
                    <li>
                        <div class="editor-box1">
                            <img src="/images/blog/blog-dest-expre4.jpg" alt="" />
                            <p>It is a long established fact that a reader will be distracted</p>
                        </div>
                    </li>
                </ul>
            </div>
            <img src="/images/blog/blog-dots-img.jpg" alt="" class="dots-blog">
        </section>

    </div>



</div>