 @{
     this.ViewBag.HeaderWithoutIcons = true;
}
<div class="banner">
    <div class="news-entry1 blog-banner">
        <img src="/images/blog/blog-banner.jpg">
        <div class="our-story1 blog-banner-text">
            <h1><img src="/images/blog/blog-banner-text-hone.png" alt="" /></h1>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
            <a href="/blog/moredeatils">Read More</a>
            <a href="/blog/destination">Destination</a>
        </div>
    </div>
</div>
    <div class="middle">
        <div class="blog-section-hi-tour-bg">
            <section class="blog-section-first">
                <div class="blog-left">
                    <ul>
                        <li>
                            <div class="blog1">
                                <img src="/images/blog/blog-lt1.jpg" alt="" />
                                <div class="img-box">
                                    <h2>Neque porro</h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="blog1">
                                <img src="/images/blog/blog-lt2.jpg" alt="" />
                                <div class="img-box">
                                    <h2>Neque porro</h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="blog1">
                                <img src="/images/blog/blog-lt3.jpg" alt="" />
                                <div class="img-box">
                                    <h2>Neque porro</h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="blog1">
                                <img src="/images/blog/blog-lt4.jpg" alt="" />
                                <div class="img-box">
                                    <h2>Neque porro</h2>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                </div>
                            </div>
                        </li>
                    </ul><div class="clr"></div>

                </div>

                <div class="blog-right">
                    <img src="/images/blog/blog-rt1.jpg" alt="" />
                </div>
                <div class="clr"></div>
            </section>
            <section class="edit-pic-main-section">
                <div class="edit-pic-box">
                    <h2>Editor’s Pick</h2>
                    <ul class="edit-box-list">
                        <li>
                            <div class="editor-box1">
                                <img src="/images/blog/blog-edit1.jpg" alt="" />
                                <h2>Adventures of Wandering Spirit</h2>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            </div>
                        </li>
                        <li>
                            <div class="editor-box1">
                                <img src="/images/blog/blog-edit2.jpg" alt="" />
                                <h2>Adventures of Wandering Spirit</h2>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            </div>
                        </li>
                        <li>
                            <div class="editor-box1">
                                <img src="/images/blog/blog-edit3.jpg" alt="" />
                                <h2>Adventures of Wandering Spirit</h2>
                                <p>The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>



   

   

