@{
    this.ViewBag.HeaderWithoutIcons = true;
}
<div class="clr"></div>
<div class="banner">
    <div class="news-entry1">
        <img src="/images/blog/blog-inner-banner.jpg">
        <div class="our-story1 destination-blog-banner-text">
            <h1><img src="/images/blog/blog-inner-banner-text.png" alt="" /></h1>
        </div>
    </div>
</div>
<div class="middle">
    <div class="blog-section-hi-tour-bg">
        <section>
            <div class="mid-section1">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                <img src="/images/blog/mobile-blog-inner-mid.jpg" alt="" class="mobile-image-bich" />
                <img src="/images/blog/blog-inner-mid.jpg" alt="" class="destop-image-bich" />
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page </p>
            </div>
        </section>
        <section class="sect-third">
            <div class="third-lt-rt">
                <div class="img-left">
                    <ul>
                        <li><img src="/images/blog/img-left-img.jpg" alt="" /></li>
                        <li>
                            <h2>Neque porro quisquam est qui dolorem i</h2>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page</p>
                        </li>
                    </ul>
                </div>
                <h2>Neque porro quisquam est qui dolorem </h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it </p>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it </p>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using </p>

                <img src="/images/blog/blog-inner-sectionlast-img.jpg" alt="" class="blog-inner-lastsction" />
                <p align="center" style="margin-bottom:50px;">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page.</p>
            </div>
        </section>
    </div>
    </div>