<paragraph class="clearfix">
    <form action="/compte/coordonnees" id="moreDetails-form" class="clearfix gray" method="post">
        <h4 class="title my-subscriptions-heading ">
            We want to get to know you better            <em>—</em>
        </h4>
        <div class="form-container">
            <div class="input-left">
                <label for="form-knowus" class="form-knowus-label">How did you hear about us? </label>            <select id="contact-form-knowus" name="mbre_knowus">
                    <option selected="selected" value="">--</option>
                    <option value="tv">TV</option>
                    <option value="press">Press</option>
                    <option value="web">Web</option>
                    <option value="wordofmouth">Word of mouth</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
        <div class="form-container">
            <div class="input-left">
                <label for="form-profession" class="form-profession-label">Profession </label>            <select id="contact-form-profession" name="mbre_profession">
                    <option selected="selected" value="">--</option>
                    <option value="2">Senior management/Professional</option>
                    <option value="4">Middle management</option>
                    <option value="5">Office/Clerical</option>
                    <option value="6">Manual/Factory worker</option>
                    <option value="7">Student</option>
                    <option value="8">Housewife/husband</option>
                    <option value="10">Retired</option>
                    <option value="11">Other</option>
                    <option value="20">Health/education professional</option>
                    <option value="21">Unemployed</option>
                    <option value="22">Sales/Customer Services</option>
                    <option value="23">Retail/Leisure worker</option>
                    <option value="24">Skilled trade worker</option>
                </select>
            </div>
        </div>
        <div class="form-container">
            <div class="input-left">
                <label for="form-nbChild" class="form-nbChild-label">Number of children </label>            <select id="contact-form-nbChild" name="mbre_nb_enfants">
                    <option selected="selected" value="-1">--</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>
        </div>
        <div class="form-container">
            <div class="input-left">
                <label for="form-situation" class="form-situation-label">Marital status </label>            <select id="contact-form-situation" name="mbre_situation">
                    <option selected="selected" value="">--</option>
                    <option value="1">Married/with partner</option>
                    <option value="2">Living with family</option>
                    <option value="3">Single</option>
                </select>
            </div>
        </div>

    </form>
</paragraph>